# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Mads Voss\OneDrive - Danmarks Tekniske Universitet\Sundhedsteknologi - DTU\IdeaProjects\Semesterprojekt 3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
